.Paginator {
    display: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
   
    background-color: #38b2ac;
    color: white;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    background-color: #ffffff;
    color: #cbd5e0;
  }
  
  .paginationActive a {
    background-color: #38b2ac;
    border: 2px solid white;
   
  }
  
